.onfooter{
	/* width:1226px; */
	height:508px;
	/* margin:40px; */
    /* position:relative; */
    /* margin-top:0px;
     */
     margin: 0 auto;
	background:#f5f5f5;
}
div.footer-service{
	padding:75px 0 30px; 
     border-bottom:1px solid #e0e0e0;
    margin-bottom:27px;
}
ul.list-service{
    /* width: 100%; */
    height: 0px;
    position: relative;
    background: #fff;
}
ul.list-service li{
    /* background: #fff; */
    float:left;
    width:19.8%;
    height:25px;
    border-left:1px solid #e0e0e0;
    font-size:16px;
    line-height:25px;
    text-align:center;
	margin-bottom:10px;
	margin-top:40px;
}
.footer-links{
    background: #fff;    
    width: 1226px;
    margin:0 auto;
}
.footer-links dl{
    float:left;
    width:160px;
    height:112px;
    margin:0;
}
.footer-links dl dt{
    margin:10px 0 26px;
    font-size:16px;
    line-height:14px;
    color:#424242;
}
.footer-links dl dd{
    margin:10px 0 0;
    font-size:12px;
}
.footer-links div.col-contact{
    float:right;
    width:251px;
    height:112px;
    border-left:1px solid #e0e0e0;
    text-align:center;
    color:#616161;
}
.footer-links .col-contact .phone{
    margin:0 0 5px;
    font-size:22px;
    line-height:1;
    color:#ff6700;
}
.footer-links .col-contact .btn{
    display:inline-block;
    width:118px;
    height:28px;
    line-height:28px;
    padding:0;
    margin:0;
    border:1px solid #ff6700;
    background:#fff;
    color:#ff6700;
    font-size:12px;
    text-align:center;
    cursor:pointer;
    transition:all .4s;
}
/*版权*/
.footer-info{
    margin-top:30px;
    padding:30px 0;
    font-size:12px;
    background:#fafafa;
}
.footercontainer{
    width:1226px;
    margin:0 auto;
    /* position:relative; */
}
.footer-info .logo{
    width:57px;
    height:57px;
    margin-right:10px;
    background:url(../img/footer/logo-footer.png) no-repeat 50% 50%;
}
.info-text{
    margin-right:40px;
}
.info-text .sites a{
    color:#757575;
}
.info-text .copy{
    color:#b0b0b0;
}
.info-text .copy a{
    color:#b0b0b0;
}
.info-links img{
    width:auto;
    height:28px;
    margin-left:0;
}
.ir{
    display:block;
    text-align:center;
    text-indent:-9999em;
    overflow:hidden;
}
.slogan{
    clear:both;
    margin:80px auto 0;
    width:267px;
    background:url(../img/footer/slogan2016.png) no-repeat center 0;
}



















